
.panel-3col { 
/*  overflow: hidden;  */
}

.panel-3col .panel {
  float: left; 
  max-width:50%;
}

.panel-3col .panel:first-child {
    max-width: 25%;
}

.panel-3col .panel:first-child .inside {
  margin: 0 .5em 1em 0;
}

.panel-3col .panel-col { 
  float: left; 

}

.panel-3col .panel-col .inside { 
  margin: 0 .5em 1em .5em;
}

.panel-3col .panel:last-child {
  float: right;
  width: 25%; 
}

.panel-3col .panel:last-child .inside {
  margin: 0 0 1em .5em;
}

.panel-3col .panel-separator {
  margin: 0 0 1em 0;
}
